.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

nz-header{
    background: #fff;
    padding: 0;
}

nz-content{
    margin: 0 16px;
}

nz-breadcrumb{
    margin: 16px 0;
}

.inner-content{
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

nz-footer{
    text-align: center;
}

/* Estilo para alinear el submenú con los demás ítems */
nz-sider ul {
    li[nz-submenu] {
      padding-left: 0; /* Quita el desplazamiento del submenú */
      
      .ant-menu-submenu-title {
        font-weight: bold;
      }
    }
  
    li[nz-menu-item] {
      span {
        font-size: 14px;
      }
    }
  }

  .ant-menu-submenu-title {
    padding-left: 16px; /* Ajusta según el nivel del menú */
  }
  
  