<div class="center-form">
    <h1 class="page-title">Reservaciones</h1>

    <nz-table #basicTable [nzShowPagination]="'false'" [nzData]="reservations">
      <thead>
        <tr>
          <th>Nombre de Habitacion</th>
          <th>Tipo de Habitacion</th>
          <th>Check In</th>
          <th>Check Out</th>
          <th>Precio</th>
          <th>Nombre de Usuario</th>
          <th>Estado</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of basicTable.data">
          <td>{{ reservation.roomName }}</td>
          <td>{{ reservation.roomType }}</td>
          <td>{{ reservation.checkInDate }}</td>
          <td>{{ reservation.checkOutDate }}</td>
          <td>{{ reservation.price }}</td>
          <td>{{ reservation.username }}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      </nz-table>
      <div class="pagination">
        <nz-pagination (nzPageIndexChange)="pageIndexChange($event)" [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="8"></nz-pagination>
      </div>
      
  </div>
  