/* Centrar el contenedor principal del formulario */
.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Mantenerlo si quieres centrar en vertical */
    height: 90vh; /* Puedes ajustar este valor según lo necesites */
    width: 100%;
    padding: 20px;
}

/* Logo */
.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/* Encabezado */
.center-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #061729;
}

/* Formulario personalizado */
.custom-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Ajustado para mantener un estilo consistente */
    text-align: center;
}

@media(max-width: 600px) {
    .custom-form {
        max-width: 100%;
    }
}

/* Etiquetas en el formulario */
.custom-form label {
    font-weight: bold;
}

/* Controles del formulario */
.custom-form .form-control {
    margin-bottom: 20px;
    padding: 10px;
}

/* Botones */
.custom-form button, .post-room-btn {
    background-color: #061729;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-form button:hover, .post-room-btn:hover {
    background-color: black;
}

/* Contenedor de habitaciones */
.room-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

/* Tarjetas de habitaciones */
.room-row nz-card {
    width: 300px;
    margin: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background-color: #ffffff;
    color: #e2e8f0;
    border-radius: 8px;
}

.room-row nz-card:hover {
    transform: scale(1.03);
}

/* Título y descripción de la tarjeta */
.room-row nz-card-meta {
    color: #9ca3af;
}

/* Iconos de editar y eliminar */
.icon {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon[nzType="edit"]:hover {
    color: #3b82f6;
}

.icon[nzType="delete"]:hover {
    color: #ff4d4f;
}

/* Avatar */
.nz-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
